<section>
    <h2>Crie sua própria sala</h2>
    <form action="/room/create-room" method="POST">
        <label class="sr-only" for="room-pass">Código da sala</label>
        <input type="password" id="room-pass" name="password" placeholder="Insira uma senha">
        <button class="btn btn-solid-blue">
            <img src="/assets/img/users-white.svg" alt="Criar sala"> 
            Criar sala
        </button>
    </form>
</section>